## Visual Studio Tooling
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
bin/
obj/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Mono/VS Code/Rider
.mono/
.idea/
.vscode/

## Executables and Compressed Packages (Excluded from Source Code Repo)
*.zip
*.tar.gz
*.rar

## Log files
*.log

## Publish and Temp Directories
publish/
publish_ultra/
test_publish/
test_publish_no_compression/

## PowerShell Scripts and Deployed Executables (Local Only)
*.ps1
MistikLauncherUltra.exe
MistikLauncher.exe
MistikSetup.exe
MistikUninstaller.exe
